<div class="nameHeaders">

  <h1>Question: <%= @question.query %></h1>
  <h2>Survey: <%= @survey.title %></h2>
  <h3>Category: <%= @survey.category %></h3>

  <% form_for [@survey, @question] do |f| %>
    <%= f.radio_button :answer1, 'answer1' %>
    <%= label :answer_selected, @question.answer1 %>
    <%= f.radio_button :answer2, 'answer2' %>
    <%= label :answer_selected, @question.answer2 %>
    <%= f.radio_button :answer3, 'answer3' %>
    <%= label :answer_selected, @question.answer3 %>
    <p><%= f.submit %></p>
  <% end %>


  <p><%= link_to "Edit question", edit_survey_question_path(@survey, @question) %></p>
  <p><%= link_to "Delete question", survey_question_path(@survey, @question),
    :data => {:confirm => "Are you sure?",
    :method => "delete"} %></p>

    <p><%= link_to "Return to survey", survey_path(@survey) %></p>
  </div>
